{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-sm-4 mb-4">
    <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for card name...">
</div>
<div class="box container">
    <div class="row" id="bookname">
        {% for b in books %}
        <div class="col-lg-3 col-md-6 ">
            <div class="card m-2">
                <img class="card-img-top" src="{{ b.image1.url }}" alt="Movie image cap" height=200 width=200>
                <div class="card-body">
                    <h5 class="card-title">{{ b.bookname }}
                    </h5>
                    <h6>{{ b.author }}</h5>
                        <center>
                            <a href="{% url 'bookdetails' b.id %}">
                                <button class="btn btn-primary" type="submit">
                                    Details
                                </button>
                            </a>
                        </center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, cards, cardContainer, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("bookname");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-title");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}