{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Text Traders</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="{% static 'front/css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'front/images/logo.jpg' %}">
    <title>Text Traders</title>
</head>

<body class="is-preload homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <header id="header" class="container">

                <!-- Logo -->
                <span id="logo">
                    <h1><a href="{% url 'home' %}"><img src="{% static 'front/images/logo.jpg' %}" height="47"
                                width="50"> Text Traders</a></h1>

                </span>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        {% if user.is_authenticated %}

                        <li><a href="{% url 'academic' %}">Academic Books</a></li>
                        <li><a href="{% url 'non-academic' %}">Non-Academic Books</a></li>
                        <li><a href="{% url 'mybooks' %}">My Books</a></li>
                        <li><a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
                            <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                                {% csrf_token %}
                                <button id="signOutBtn" type="submit">Logout</button>
                            </form>
                        </li>

                        {% else %}
                        <li class="current"><a href="{% url 'home' %}">Welcome</a></li>
                        <li><a href="#footer-wrapper">About</a></li>
                        {% endif %}
                    </ul>
                </nav>

            </header>
        </div>
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Swarup Kharul</h3>
                            <ul class="style2">
                                <li>&emsp;<a href="#">VIT, Vellore</a></li>
                                <li>&emsp;<a href="www.linkedin.com/in/swarupkharul">LinkedIn</a></li>
                                <li>&emsp;<a href="https://github.com/SwarupKharul">GitHub</a></li>
                                <li>&emsp;<a href="mailto:swarupkharulsk@gmail.com">Mail Me</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Sahil Kaling</h3>
                            <ul class="style2">
                                <li>&emsp;<a href="#">VIT, Vellore</a></li>
                                <li>&emsp;<a href="https://www.linkedin.com/in/sahil-kaling-5383641b8/">LinkedIn</a>
                                </li>
                                <li>&emsp;<a href="https://github.com/sahildotexe">GitHub</a></li>
                                <li>&emsp;<a href="mailto:sahilkaling@gmail.com">Mail Me</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Ashish Kamathi</h3>
                            <ul class="style2">
                                <li>&emsp;<a href="#">IIITD, Delhi</a></li>
                                <li>&emsp;<a href="https://www.linkedin.com/in/ashishkamathi/">LinkedIn</a></li>
                                <li>&emsp;<a href="https://github.com/ashishkamathi">GitHub</a></li>
                                <li>&emsp;<a href="mailto:ashishkamathi@rocketmail.com">Mail Me</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Contact -->
                        <section class="widget contact last">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
                                </li>
                                <li><a href="#" class="icon brands fa-facebook-f"><span
                                            class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram"><span
                                            class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a>
                                </li>
                                <li><a href="#" class="icon brands fa-pinterest"><span
                                            class="label">Pinterest</span></a></li>
                            </ul>

                        </section>

                    </div>
                </div>


        </div>

        <!-- Scripts -->

        <script src="{% static 'front/js/jquery.min.js' %}"></script>
        <script src="{% static 'front/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'front/js/browser.min.js' %}"></script>
        <script src="{% static 'front/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'front/js/util.js' %}"></script>
        <script src="{% static 'front/js/main.js' %}"></script>

</body>

</html>