{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2>This is a Unique Book Store</h2>
                <p>It's an easy Book exchange platform for all the ardent readers.</p>
            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    <li><a href="{% url 'signupuser' %}" class="button large  solid ">Sign
                            Up<img src="{% static 'front/images/sign-up.png' %}" alt="" height="60" width="60"
                                style="float: right;padding: 0px" /></a></li>
                    <li><a href="{% url 'loginuser' %}" class="button  large  solid ">Login<img
                                src="{% static 'front/images/password.png' %}" alt="" height="60" width="60"
                                style="float: right;padding: 0px" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="col-7 col-12-medium">
            <center>
                <h2>Three B's of our Project:</h2>
            </center>
        </div>
        <div class="row">
            <div class="col-4 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured" style="padding: 50px 100px 0px 100px;"><img
                            src="{% static 'front/images/barter.png' %}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2 style="text-align: center;">Barter</h2>

                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured" style="padding: 50px 100px 0px 100px;"><img
                            src="{% static 'front/images/borrow.png' %}" height="170" /></a>
                    <div class="inner">
                        <header>
                            <h2 style="text-align: center;">Borrow</h2>

                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured" style="padding: 50px 100px 0px 100px;"><img
                            src="{% static 'front/images/buy.png' %}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2 style="text-align: center;">Buy</h2>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">

                        <div class="grid">
                            <img src="{% static 'front/images/online-library.png' %}" height="300" width="300" />

                    </section>
                </div>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>So what's this all about?</h2>
                        <p>Text Trader is a revolutionary book exchange community. Where in you can exchange your books
                            with any other readers from all over the world. This entire transaction will be mutual
                            between the readers with no transfer of currency in any sort. Any reader can list their
                            books on the site and can get it exchanged in return for any of their favorite books already
                            listed on the platform. This will benefit readers and make them a part of this amazing
                            community.</p>

                    </section>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}