{% extends "base.html" %}

{% block content %}

<body>
    <div class="box container">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="banner">
                <h1>
                    <center>New Book</center>
                </h1>
            </div>
            <div class="item">
                <h4>Book Name</h4>
                <div class="name-item">
                    <input type="text" name="bookname" id="bookname" placeholder="bookname" required />
                    <input type="text" name="author" id="author" placeholder="author" required />
                </div>
            </div>
            <br>
            <div class=" contact-item">
                <div class="item">
                    <h4>City</h4>
                    <input type="text" id="city" name="city" required />
                </div>
            </div>
            <br>
            <div class=" contact-item">
                <div class="item">
                    <h4>Contact Number</h4>
                    <input type="tel" id="contact" name="contact" required />
                </div>
            </div>
            <br>
            <div class="item">
                <h4>Book Status</h4>
                <input type="text" id="condition" name="condition" required />
            </div>
            <div class="item">
                <style>
                    input.largerCheckbox {
                        width: 40px;
                        height: 40px;
                    }
                </style>
                <h4>Tick for academic books</h4>
                <input type="checkbox" name="academic" class="largerCheckbox" id="academic">
                <label class="form-check-label" for="academic">Academic</label>
            </div>
            <br>
            <div class="item">
                <h4>Description</h4>
                <textarea name="description" id="description" rows="3" required></textarea>
            </div>
            <br>
            <div class="item">
                <h4 for="image1">Upload atleast 1 image:</h4><br>
                <input type="file" id="image1" name="image1" accept="image/*" required>
                <input type="file" id="image2" name="image1" accept="image/*">
                <input type="file" id="image3" name="image1" accept="image/*">
                <input type="file" id="image4" name="image1" accept="image/*">
            </div>
            <br>
            <center><button type="submit" class="btn btn-primary">Publish</button></center>
        </form>
    </div>
</body>

{% endblock %}