{% extends "base.html" %}

{% block content %}
<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>This is a Unique Book Store</h2>
								<p>It's an easy Book exchange platform for akk the ardent.</p>
							</div>
							<div class="col-5 col-12-medium">
								
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Sign Up</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know
                    if someone has taken it already.</small>
            </div>
            <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll let you know if the email has already
                    registered .</small>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" name="password1" class="form-control" id="password1">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" class="form-control" id="password2">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <hr>
        <div class="text-center">
            Do you already have an account? <a href="{% url 'loginuser' %}">Login here</a>
        </div>
    </div>
</div>
{% endblock %}
							</div>
						</div>
					</div>
				</div>
